.bg-cover{background-size: cover;}
.bg-center{background-position: center;}
.bg-no-repeat{background-repeat: no-repeat;}
.swiper .swiper-pagination-progressbar{background-color: rgba(var(--bs-white-rgb), 0.1);}
.swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: var(--bs-primary);}